//Globall
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

//Landing
.landing-page {
    width: 100%;
    height: 100vh;
    position: relative;

    >img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        filter: blur(5px);
    }

    .child {
        width: 70%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 15%;
        box-shadow: 0px 0px 10px #fff;
        background-image: url("Photo/pexels-pixabay-355887.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        padding: {
            left: 5%;
            right: 5%;
        }

        h1 {
            color: #fff;
            text-transform: capitalize;
        }

        .side-bar {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .links {
                width: 50%;
                height: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                ul {
                    width: 80%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        position: relative;

                        a {
                            color: #fff;
                            text-transform: capitalize;

                            &::after {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 5%;
                                background-color: #fff;
                                top: 120%;
                                left: 0%;
                                visibility: hidden;
                            }

                            &:hover {
                                font-weight: bold;
                            }

                            &:hover::after {
                                visibility: visible;
                            }
                        }
                    }
                }

                img {
                    width: 12.5%;
                    height: 70%;
                    border-radius: 50%;
                    cursor: pointer;

                    &:hover {
                        outline: 2px #fff solid;
                        transform: scale(0.9);
                    }
                }
            }
        }

        p {
            color: #fff;
            font-style: italic;
            margin-top: 5%;
            margin-left: 5%;
        }

        span {
            color: #0000006f;
            text-transform: uppercase;
            font-size: 220px;
            margin-left: 5%;
        }

        .images {
            width: 20%;
            height: 5%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            right: 8%;
            bottom: 5%;

            img {
                width: 20%;
                height: 100%;
                background-color: #f0f8ffaf;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background-color: #fff;
                }
            }
        }
    }
}